name: portsip
description: "A Flutter plugin for integrating the PortSIP VoIP SDK, enabling SIP-based voice and video communications in your applications."
version: 0.0.1
repository: https://github.com/TAGonSoft/portsip

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.tagonsoft.portsip
        pluginClass: PortsipPlugin
      ios:
        pluginClass: PortsipPlugin
